h1{
    color: rgb(12, 0, 68);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(#0F2167,#3c98c0);
    cursor: url("./style/espada.png"),auto;


}
div{
    padding: 10px 20px 10px 20px;
    border: 3px solid darkgreen;
    margin: 50px 50px 50px 50px;
    background-color: #3559E0;
    content: cyan;
}
h3{
    color: #0F2167;
}

h1{
    font-size: 2em;
}

a:hover{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    border: 2px dotted black;
}

img{
    border-radius: 100px;
}

a:visited{
    color: red;
}

.main-container{
    background-color: rgb(89, 192, 233);
    width: 89%;
    height: 30%;
}

.links{
    color: yellow;
    text-decoration: none;

}

.Education{
    text-decoration: none;
}
#u-list{
        list-style-type: none;
}